<app-navbar-interno></app-navbar-interno>
<div class="container-fluid mt-3 animated fadeIn" style="font-family: atlon;">
    <h1 style="text-align: center" class="fontTitulos">Facturación</h1>
    <div class="card-deck mt-3">
        <div class="row justify-content-center">
            <div class="card col-md-3">
                <div class="d-flex align-items-lg-center justify-content-center mt-4">
                    <a routerLink="/facturacionConsultar">
                        <img src="../../../../assets/image/CONSULTAR.svg" class="img-fluid" alt="Responsive image" height="140px" width="140px">
                    </a>
                </div>
                <div class="card-body mt-3">
                    <h5 class="card-title carPrincipalTitulo">Consultar</h5>
                    <p class="card-text carPrincipalCuerpo">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="d-flex align-items-lg-center justify-content-center mt-4">
                    <a routerLink="/facturacionReportar">
                        <img src="../../../../assets/image/reportar.svg" class="img-fluid" alt="Responsive image" height="140px" width="140px">
                    </a>
                </div>
                <div class="card-body mt-3">
                    <h5 class="card-title carPrincipalTitulo">Reportar</h5>
                    <p class="card-text carPrincipalCuerpo">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <div class="card col-md-3">
                <div class="d-flex align-items-lg-center justify-content-center mt-4">
                    <a routerLink="/facturacionAnular">
                        <img src="../../../../assets/image/ANULAR.svg" class="img-fluid" alt="Responsive image" height="140px" width="140px">
                    </a>
                </div>
                <div class="card-body mt-3">
                    <h5 class="card-title carPrincipalTitulo">Anular</h5>
                    <p class="card-text carPrincipalCuerpo">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
</div>